<div class="container-fluid">
  <div class="row">
    <div
      class="
        col-md-6
        text-white
        fundoVerde
        d-flex
        flex-column
        justify-content-around
      "
    >
      <div>
        <h2>Blog Pessoal</h2>
        <p>
          Compartilhe seu dia, faça <br />
          anotações e crie lembretes
        </p>
      </div>
      <div class="d-flex justify-content-center">
        <img
          src="https://i.imgur.com/c9PZshw.png"
          alt="Imagem de Login"
          width="75%"
        />
      </div>
    </div>

    <div class="col-md-6 d-flex flex-column justify-content-center">
      <div class="col-md-10">
        <h2>Entrar em seu Blog Pessoal</h2>
        <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
        <hr />
        <form>
          <div>
            <label for="usuario">Usuário:</label>
            <input
              type="text"
              name="usuario"
              id="usuario"
              class="form-control my-2"
              [(ngModel)]="usuarioLogin.usuario"
            />
          </div>
          <div>
            <label for="usuario">Senha:</label>
            <input
              type="password"
              name="senha"
              id="senha"
              class="form-control my-2"
              [(ngModel)]="usuarioLogin.senha"
            />
          </div>
          <div id="erro"></div>
          <button
            type="submit"
            class="btn entrar w-100 mt-4"
            (click)="entrar()"
          >
            Entrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
