<!-- ! navs não estão funcionando ainda... vai e não volta -->
<div class="container-fluid d-flex mt-2">
    <!-- Conteudo da sidebar esquerda -->
    <div class="col-md-3 vh-100 pt-3 sticky-top">
      <div class="w-75">
        <div class="d-flex justify-content-around align-items-center">
          <img src="https://github.com/tjfaccipieri.png" alt="Foto de perfil" class='fotoPerfil'>
          <p class='textoPerfil m-0'>Thiago Faccipieri</p>
        </div>
        
        <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <div>
            <button class="botao minhasPostagens active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Minhas postagens</button>
            <button class='botao perfil ms-auto mt-3'>Editar perfil</button>
            <button class='botao sair ms-auto mt-3'>Sair</button>
          </div>
          <div class='mt-5 d-flex flex-column align-items-start'>
            <p class='mt-4 textoPerfil'>Filtrar</p>
            <button class="textoPerfil btn" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
            <button class="textoPerfil btn" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
          </div>
        </div>
        </div>
      </div>
    
    <!-- Conteudo da sidebar esquerda -->

    <div class="col-md-6">
      <div class="d-flex align-items-start">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">minhas postagens</div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            profile
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            sei la
          </div>
        </div>
      </div>
    </div>


</div>



  <!-- <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="botao minhasPostagens active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
    <button class="textoPerfil btn" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
    <button class="textoPerfil btn" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
  </div> -->
